* {
  border: none;
}
.icon-button {
  background: none;
  border: none;
  color: inherit;
  /* transition: all 0.3s ease 0s; */
}

.icon-button:hover {
  background: rgba(217, 229, 253, 0.857);
  transition: all;
  border: none;
  color: inherit;
  border-radius: 15%;
  /* transition-timing-function: linear 0.1s; */
  transition: all 0.3s ease 0s;
  padding: auto;
}
